.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--color-background-black);
  transition: all 0.3s ease-in-out;
  padding: 1vw 0;

  &.scrolled {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(0.3vw);
    backdrop-filter: blur(0.3vw);
    box-shadow: 0 0.01vw 1vw rgba(0, 0, 0, 0.1);
    padding: 0.5vw 0;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 1vw 0;

    &.scrolled {
      padding: 0.5vw 0;
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: 2vw 0;

    &.scrolled {
      padding: 2vw 0;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 8vw;

  & img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 16vw;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 26vw;
  }
}

.nav {
  display: flex;
  gap: 2vw;

  a {
    color: var(--color-white);
    font-size: 0.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
    text-decoration: none;
    opacity: 0.85;
    position: relative;
    transition: color 0.3s;
    gap: 0.25vw;
    padding: 0.4vw 0;

    &:hover {
      color: var(--color-red-main);
    }

    &:after {
      content: '';
      background: var(--color-red-main);
      width: 0;
      height: 0.1vw;
      transition: width 0.3s;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
    position: absolute;
    top: 85%;
    right: 5%;
    flex-direction: column;
    gap: 0vw;
    background: var(--color-background-black);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3);
    border: 0.01vw solid var(--color-darkGray);

    a {
      font-size: 1.8vw;
      padding: 1.65vw 2vw;
      width: 100%;
      border-top: 0.1vw solid rgba(255, 255, 255, 0.08);

      &:first-child {
        border: 0;
      }

      &:after {
        display: none;
      }
    }

    &.navOpen {
      display: flex;
      border-radius: 0.75vw;
      min-width: 15vw;
      padding: 0vw 0vw;
      background: var(--color-black-grey);
    }
  }
}

@media (max-width: 576px) {
  .nav {
    top: 90%;
    right: 5%;

    a {
      font-size: 3.6vw;
      padding: 2.75vw 3vw;
    }

    &.navOpen {
      border-radius: 1vw;
      min-width: 17vw;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

@media (max-width: 1024px) {
  .actions {
    gap: 3vw;
  }
}

@media (max-width: 576px) {
  .actions {
    gap: 4vw;
  }
}

.signIn {
  display: flex;
  align-items: center;
  background: var(--color-red-main);
  border: 0;
  gap: 0.35vw;
  padding: 0.5vw 0.8vw;
  border-radius: 0.3vw;
  color: var(--color-white);
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  border: 0.01vw solid var(--color-red-main);
  transition: 0.2s ease-in-out;

  & .signInIcon {
    width: 0.8vw;
    height: 0.8vw;
  }

  &:hover {
    background: transparent;
  }
}

@media (max-width: 1024px) {
  .signIn {
    display: flex;
    align-items: center;
    gap: 0.75vw;
    padding: 1.1vw 2vw;
    border-radius: 0.75vw;
    font-size: 1.8vw;

    & .signInIcon {
      width: 1.7vw;
      height: 1.7vw;
    }
  }
}

@media (max-width: 576px) {
  .signIn {
    gap: 1.5vw;
    padding: 2vw 3vw;
    border-radius: 1vw;
    font-size: 3.6vw;

    & .signInIcon {
      width: 3.2vw;
      height: 3.2vw;
    }
  }
}

/* =========================
   BURGER
========================= */

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 0;
}

/* =========================
   MOBILE
========================= */

.mobileActions {
  display: none;
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }

  .burgerIcon {
    width: 3vw;
    height: 3vw;
  }

  .mobileActions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vw;
    margin-top: 3vw;
    padding-top: 3vw;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .burgerIcon {
    width: 5vw;
    height: 5vw;
  }

  .mobileActions {
    gap: 3vw;
    margin-top: 3vw;
    padding-top: 3vw;
    width: 100%;
  }
}
