.forgotLink {
  align-self: flex-end;
  text-decoration: none;
  font-size: 0.65vw;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
  transition: 0.2s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
