.page {
  padding: 8vw 0;
  padding-bottom: 4vw;
}

@media (max-width: 1024px) {
  .page {
    padding: 13vw 0;
    padding-bottom: 8vw;
  }
}

@media (max-width: 576px) {
  .page {
    padding: 21vw 0;
    padding-bottom: 8vw;
  }
}

.container {
  max-width: 60vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

.title {
  font-size: 1vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
}

@media (max-width: 1024px) {
  .title {
    font-size: 3vw;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 5vw;
  }
}

.section {
  margin-top: 1.5vw;
  z-index: 10;

  & .sectionTitle {
    font-size: 0.85vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    margin-bottom: 0.5vw;
  }

  & .paragraph {
    font-size: 0.75vw;
    color: #ffffff80;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-big);
  }

  & .list {
    margin: 0 0 0.5vw;
    padding-left: 0.75vw;

    li {
      font-size: 0.75vw;
      color: #ffffff80;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-lineh-big);
    }
  }
}

@media (max-width: 1024px) {
  .section {
    margin-top: 3vw;

    & .sectionTitle {
      font-size: 2vw;
      margin-bottom: 1vw;
    }

    & .paragraph {
      font-size: 1.8vw;
    }

    & .list {
      margin: 0 0 1.5vw;
      padding-left: 2.2vw;

      li {
        font-size: 1.8vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .section {
    margin-top: 6vw;

    & .sectionTitle {
      font-size: 4vw;
      margin-bottom: 2vw;
    }

    & .paragraph {
      font-size: 3.6vw;
    }

    & .list {
      margin: 0 0 3.5vw;
      padding-left: 4vw;

      li {
        font-size: 3.6vw;
      }
    }
  }
}
