.contacts {
  background: var(--color-background-for-another-page);
  color: var(--color-white);
  min-height: 91vh;
  padding-top: 2vw;
}

@media (max-width: 1024px) {
  .contacts {
    min-height: 100%;
    padding-top: 3vw;
    padding-bottom: 4vw;
  }
}

@media (max-width: 576px) {
  .contacts {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
  margin-top: 9vw;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  gap: 3vw;
  align-items: start;
}

@media (max-width: 1024px) {
  .twoColumns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vw;
    align-items: start;
  }
}

@media (max-width: 576px) {
  .twoColumns {
    gap: 4vw;
  }
}

/* ========== LEFT COLUMN ========== */

.info {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.7vw;
  color: var(--color-red-main);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
}

.title {
  font-size: 1.8vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  margin-top: 0.25vw;

  .accent {
    color: var(--color-red-main);
  }
}

.subtitle {
  font-size: 0.85vw;
  color: #ffffff80;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
  margin-top: 0.75vw;
  max-width: 20vw;
}

@media (max-width: 1024px) {
  .label {
    font-size: 1.8vw;
  }

  .title {
    font-size: 3.6vw;
    margin-top: 0.5vw;
  }

  .subtitle {
    font-size: 1.8vw;
    margin-top: 1vw;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .label {
    font-size: 3.4vw;
  }

  .title {
    font-size: 6vw;
    line-height: var(--font-lineh-small2);
    margin-top: 2vw;
  }

  .subtitle {
    font-size: 3.6vw;
    margin-top: 2vw;
  }
}

/* Contact cards */

.mainRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75vw;
  margin-top: 1.5vw;
}

@media (max-width: 1024px) {
  .mainRow {
    gap: 1.5vw;
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .mainRow {
    grid-template-columns: 1fr;
    gap: 2vw;
    margin-top: 4vw;
  }
}

.contactCard {
  display: flex;
  align-items: center;
  gap: 0.75vw;
  padding: 0.85vw 1vw;
  background: var(--color-background-for-card-on-page);
  border: 0.01vw solid var(--color-darkGray);
  border-radius: 0.5vw;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: translateY(-0.1vw);
  }

  & .iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 50%;
    background: rgba(225, 17, 17, 0.15);
    border: 0.01vw solid var(--color-red-main);

    & .icon {
      color: var(--color-red-main);
      width: 0.85vw;
      height: 0.85vw;
    }
  }

  & .phoneText {
    font-size: 0.85vw;
    font-weight: var(--font-weight-bold);
  }

  & p {
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
  }

  & .addressText {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
  }
}

@media (max-width: 1024px) {
  .contactCard {
    gap: 1.5vw;
    padding: 1.75vw 2vw;
    border-radius: 0.75vw;

    &:hover {
      transform: translateY(0vw);
    }

    & .iconCircle {
      width: 4vw;
      height: 4vw;

      & .icon {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    & .phoneText {
      font-size: 2vw;
    }

    & p {
      font-size: 1.65vw;
    }

    & .addressText {
      gap: 0.1vw;
    }
  }
}

@media (max-width: 576px) {
  .contactCard {
    gap: 2.75vw;
    padding: 2.75vw 2.75vw;
    border-radius: 1.5vw;

    & .iconCircle {
      width: 8vw;
      height: 8vw;

      & .icon {
        width: 3.5vw;
        height: 3.5vw;
      }
    }

    & .phoneText {
      font-size: 4vw;
    }

    & p {
      font-size: 3.4vw;
    }

    & .addressText {
      gap: 0.1vw;
    }
  }
}

/* Working hours */

.workingHours {
  margin-top: 1.5vw;

  & .workingLabel {
    font-size: 0.7vw;
    color: #ffffff80;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    letter-spacing: 0.025vw;
    text-transform: uppercase;
  }
}

@media (max-width: 1024px) {
  .workingHours {
    margin-top: 2vw;

    & .workingLabel {
      font-size: 1.8vw;
      letter-spacing: 0.05vw;
    }
  }
}

@media (max-width: 576px) {
  .workingHours {
    margin-top: 4vw;

    & .workingLabel {
      font-size: 3.6vw;
      letter-spacing: 0.1vw;
    }
  }
}

.hoursCardMainBlock {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

@media (max-width: 1024px) {
  .hoursCardMainBlock {
    gap: 4vw;
  }
}

@media (max-width: 576px) {
  .hoursCardMainBlock {
    gap: 6vw;
  }
}

.hoursCard {
  display: inline-flex;
  align-items: center;
  gap: 0.75vw;
  margin-top: 0.5vw;

  & .iconCircleDark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 0.35vw;
    background: rgba(225, 17, 17, 0.15);

    & .iconTime {
      color: var(--color-red-main);
      width: 1vw;
      height: 1vw;
    }
  }

  & .days {
    margin: 0;
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
  }

  & .time {
    font-size: 0.75vw;
    color: #ffffff80;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    margin-top: 0.15vw;
  }
}

@media (max-width: 1024px) {
  .hoursCard {
    gap: 1.5vw;
    margin-top: 1vw;

    & .iconCircleDark {
      width: 5.5vw;
      height: 5.5vw;
      border-radius: 0.5vw;

      & .iconTime {
        width: 2.75vw;
        height: 2.75vw;
      }
    }

    & .days {
      font-size: 1.65vw;
    }

    & .time {
      font-size: 1.8vw;
      margin-top: 0vw;
    }
  }
}

@media (max-width: 576px) {
  .hoursCard {
    gap: 3vw;
    margin-top: 2vw;

    & .iconCircleDark {
      width: 9vw;
      height: 9vw;
      border-radius: 1vw;

      & .iconTime {
        width: 4vw;
        height: 4vw;
      }
    }

    & .days {
      font-size: 3.4vw;
    }

    & .time {
      font-size: 3.6vw;
    }
  }
}

/* ========== MAP ========== */
/* ========== RIGHT COLUMN — MAP ========== */

.mapWrapper {
  position: relative;
  border-radius: 0.75vw;
  overflow: hidden;
  background: #09090a;
  border: 0.01vw solid var(--color-darkGray);
  min-height: 20vw;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  min-height: 28vw;
  border: none;
  display: block;
}

@media (max-width: 1024px) {
  .mapWrapper {
    border-radius: 1vw;
    min-height: 40vw;
  }

  .map {
    min-height: 40vw;
  }
}

@media (max-width: 576px) {
  .mapWrapper {
    border-radius: 1.5vw;
    min-height: 60vw;
  }

  .map {
    min-height: 60vw;
  }
}
