.wrapper {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  background: var(--color-background-black);
  -webkit-backdrop-filter: blur(0.3vw);
  backdrop-filter: blur(0.3vw);
  border: 0;
  gap: 0.35vw;
  padding: 0.6vw 0.8vw;
  border-radius: 0.3vw;
  color: var(--color-white);
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  border: 0.01vw solid var(--color-background-black);

  & .selectArrow {
    width: 0.55vw;
    height: 0.55vw;
    transition: transform 0.25s ease;
  }
}

@media (max-width: 1024px) {
  .trigger {
    gap: 1.25vw;
    padding: 1.2vw 1.25vw;
    border-radius: 0.75vw;
    font-size: 1.8vw;

    & .selectArrow {
      width: 1.35vw;
      height: 1.35vw;
    }
  }
}

.open {
  &.selectArrow {
    transform: rotate(180deg);
  }
}

.flagBlock {
  display: flex;
  width: 0.9vw;
  height: 0.6vw;

  & .flag {
    width: 100%;
    border-radius: 0.1vw;
  }
}

@media (max-width: 1024px) {
  .flagBlock {
    width: 1.6vw;
    height: 1.2vw;

    & .flag {
      border-radius: 0.35vw;
    }
  }
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: var(--color-black-grey);
  border: 0.01vw solid var(--color-darkGray);
  border-radius: 0.5vw;
  min-width: 7vw;
  padding: 0.35vw;
  z-index: 10;
  list-style: none;
  margin: 0;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4vw;
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    color: var(--color-white);
    padding: 0.45vw 0.5vw;
    cursor: pointer;
    border-radius: 0.25vw;
    font-size: 0.7vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);

    & .flagBlock {
      width: 0.85vw;
      height: 0.5vw;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }
}

@media (max-width: 1024px) {
  .dropdown {
    top: 110%;
    border-radius: 0.75vw;
    min-width: 15vw;
    padding: 0.75vw;

    button {
      gap: 0.75vw;
      padding: 1.25vw 1vw;
      border-radius: 0.25vw;
      font-size: 1.8vw;

      & .flagBlock {
        width: 1.6vw;
        height: 1vw;
      }
    }
  }
}
