.available {
  opacity: 1;
}

.booked {
  opacity: 0.45;

  &::before {
    z-index: -1 !important;
    background: #090909 !important;
  }

  &:hover {
    & img {
      filter: grayscale(1) !important;
      -webkit-filter: grayscale(1) !important;
      -moz-filter: grayscale(1) !important;
    }
  }
}

.rented {
  opacity: 0.45;

  &::before {
    z-index: -1 !important;
    background: #090909 !important;
  }
  &:hover {
    & img {
      filter: grayscale(1) !important;
      -webkit-filter: grayscale(1) !important;
      -moz-filter: grayscale(1) !important;
    }
  }
}

.reserved {
  opacity: 0.55;

  &::before {
    z-index: -1 !important;
    background: #090909 !important;
  }
  &:hover {
    & img {
      filter: grayscale(1) !important;
      -webkit-filter: grayscale(1) !important;
      -moz-filter: grayscale(1) !important;
    }
  }
}

.maintenance {
  opacity: 0.45;

  &::before {
    z-index: -1 !important;
    background: #090909 !important;
  }
  &:hover {
    & img {
      filter: grayscale(1) !important;
      -webkit-filter: grayscale(1) !important;
      -moz-filter: grayscale(1) !important;
    }
  }
}

.inactive {
  opacity: 0.25;

  &::before {
    z-index: -1 !important;
    background: #090909 !important;
  }
  &:hover {
    & img {
      filter: grayscale(1) !important;
      -webkit-filter: grayscale(1) !important;
      -moz-filter: grayscale(1) !important;
    }
  }
}

.booked button,
.rented button,
.reserved button,
.maintenance button,
.inactive button {
  pointer-events: none;
}

.card {
  width: 49.55%;
  border: 0.01vw solid var(--color-darkGray);
  background: #090909;
  border-radius: 0.75vw;
  padding: 1.5vw 1.5vw;
  position: relative;
  overflow: hidden;

  &.hoverOff {
    &::before {
      z-index: -1;
      background: #090909;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0; // вместо left/top/width/height
    z-index: 0;
    opacity: 0;
    border-radius: inherit;
    background: linear-gradient(
      280deg,
      rgb(9, 9, 9, 0.2),
      rgb(9, 9, 9, 0.3),
      rgb(238, 17, 17, 0.4)
    );
    transition: 0.2s ease-in-out;
    pointer-events: none; // клики проходят сквозь градиент к кнопке
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    & img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
    }
  }

  & .cardBlockLeftRight {
    position: relative; // обязательно!
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;

    & .carCharacterBlockAndHeader {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    & .carRulesBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    border-radius: 1vw;
    padding: 3vw 3vw;

    & .cardBlockLeftRight {
      & .carCharacterBlockAndHeader {
        width: 60%;
      }

      & .carRulesBlock {
        width: 40%;
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
    border-radius: 2vw;
    padding: 5vw 5vw;

    & .cardBlockLeftRight {
      flex-direction: column;
      gap: 8vw;
      // align-items: center;
      & .carCharacterBlockAndHeader {
        width: 100%;
      }

      & .carRulesBlock {
        gap: 6vw;
        width: 100%;
      }
    }
  }
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;

  & .carNameAndIconBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;

    & .carName {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.25vw;
      color: var(--color-white);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);
    }

    .infoTrigger {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0;

      border: 0;
      background: transparent;

      cursor: pointer;

      & .infoTriggerIcon {
        color: #ffffff80;
        width: 0.75vw;
        height: 0.75vw;
      }
    }
  }

  & .transmissionText {
    font-size: 0.8vw;
    color: #ffffff80;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
    text-transform: capitalize;
  }
}

@media (max-width: 1024px) {
  .cardHeader {
    gap: 0.75vw;

    & .carNameAndIconBlock {
      gap: 1.25vw;

      & .carName {
        font-size: 3vw;
      }

      .infoTrigger {
        & .infoTriggerIcon {
          width: 1.6vw;
          height: 1.6vw;
        }
      }
    }

    & .transmissionText {
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .cardHeader {
    gap: 1.5vw;

    & .carNameAndIconBlock {
      gap: 3vw;

      & .carName {
        font-size: 5vw;
      }

      .infoTrigger {
        & .infoTriggerIcon {
          width: 3.4vw;
          height: 3.4vw;
        }
      }
    }

    & .transmissionText {
      font-size: 3.6vw;
    }
  }
}

.carShadow {
  display: flex;
  width: 20vw;

  & img {
    transition: 0.2s ease-in-out;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
}

@media (max-width: 1024px) {
  .carShadow {
    width: 40vw;
  }
}

@media (max-width: 576px) {
  .carShadow {
    width: 100%;
  }
}

.carCharacterBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;

  & .carCharacterBlockIconAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;

    & .carCharacterText {
      font-size: 0.9vw;
      color: var(--color-white);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-lineh-small);
      text-transform: capitalize;
    }

    & .carCharacterIcon {
      color: var(--color-white);
      width: 1.15vw;
      height: 1.15vw;
    }
  }
}

@media (max-width: 1024px) {
  .carCharacterBlock {
    gap: 4vw;

    & .carCharacterBlockIconAndText {
      gap: 0.75vw;

      & .carCharacterText {
        font-size: 2.2vw;
      }

      & .carCharacterIcon {
        width: 2.4vw;
        height: 2.4vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .carCharacterBlock {
    justify-content: center;
    gap: 5vw;

    & .carCharacterBlockIconAndText {
      gap: 2vw;

      & .carCharacterText {
        font-size: 4.4vw;
      }

      & .carCharacterIcon {
        width: 5vw;
        height: 5vw;
      }
    }
  }
}

.carRulesBlock {
  display: flex;
  flex-direction: column;

  & .carRulesMainBlockIconAndText {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    & .carRulesBlockIconAndText {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;

      & .carRulesBlockText {
        display: flex;
        flex-direction: column;
        gap: 0.35vw;

        & .carRulesText {
          font-size: 0.8vw;
          color: var(--color-white);
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-regular);
          line-height: var(--font-lineh-small);
        }

        & .carRulesTextGrey {
          font-size: 0.65vw;
          color: #ffffff80;
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-regular);
          line-height: var(--font-lineh-small);
        }
      }

      & .carRulesIcon {
        color: var(--color-red-main);
        width: 1.25vw;
        height: 1.25vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .carRulesBlock {
    & .carRulesMainBlockIconAndText {
      gap: 3vw;

      & .carRulesBlockIconAndText {
        align-items: flex-start;
        gap: 2vw;

        & .carRulesBlockText {
          gap: 0.5vw;

          & .carRulesText {
            font-size: 1.8vw;
          }

          & .carRulesTextGrey {
            font-size: 1.6vw;
            line-height: var(--font-lineh-normal);
          }
        }

        & .carRulesIcon {
          width: 2.5vw;
          height: 2.5vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .carRulesBlock {
    & .carRulesMainBlockIconAndText {
      gap: 6vw;

      & .carRulesBlockIconAndText {
        align-items: flex-start;
        gap: 3vw;

        & .carRulesBlockText {
          gap: 1vw;

          & .carRulesText {
            font-size: 3.6vw;
          }

          & .carRulesTextGrey {
            font-size: 3.2vw;
          }
        }

        & .carRulesIcon {
          width: 5vw;
          height: 5vw;
        }
      }
    }
  }
}

.carTotalPriceAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  & .carTotalPriceBlock {
    display: flex;
    flex-direction: column;
    gap: 0.25vw;

    & .carTotalPriceText {
      font-size: 0.85vw;
      color: var(--color-white);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);
    }

    & .carTotalPriceTextCost {
      font-size: 1.15vw;
      color: var(--color-white);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-small);

      & span {
        font-size: 0.85vw;
      }
    }
  }

  & .bookColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5vw;

    & .buttonBook {
      background: var(--color-red-main);
      color: var(--color-white);
      font-size: 0.75vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-lineh-small);
      cursor: pointer;
      border: 0;
      border: 0.01vw solid var(--color-red-main);
      border-radius: 0.5vw;
      align-items: center;
      gap: 0.35vw;
      padding: 0.65vw 3vw;
      transition: all 0.2s ease-in-out;
      display: flex;

      &:hover {
        background: none;
      }
    }

    & .selectDatesWarning {
      color: #ff6b6b;
      font-size: 0.75vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-lineh-small);
    }
  }
}

@media (max-width: 1024px) {
  .carTotalPriceAndButton {
    & .carTotalPriceBlock {
      gap: 0.75vw;

      & .carTotalPriceText {
        font-size: 1.8vw;
      }

      & .carTotalPriceTextCost {
        font-size: 2.4vw;

        & span {
          font-size: 1.85vw;
        }
      }
    }

    & .bookColumn {
      gap: 0.5vw;

      & .buttonBook {
        font-size: 1.8vw;
        border-radius: 0.75vw;
        gap: 0.35vw;
        padding: 1.15vw 5vw;
      }

      & .selectDatesWarning {
        font-size: 1.6vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .carTotalPriceAndButton {
    & .carTotalPriceBlock {
      gap: 2vw;

      & .carTotalPriceText {
        font-size: 4vw;
      }

      & .carTotalPriceTextCost {
        font-size: 6vw;

        & span {
          font-size: 4vw;
        }
      }
    }

    & .bookColumn {
      gap: 0.5vw;

      & .buttonBook {
        border-radius: 1.5vw;
        gap: 1.5vw;
        padding: 2.4vw 8vw;
        font-size: 3.6vw;
      }

      & .selectDatesWarning {
        font-size: 3.6vw;
      }
    }
  }
}
