.overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(0.15vw);
  backdrop-filter: blur(0.15vw);

  animation: overlayIn 0.2s ease;
}

.modal {
  position: relative;

  width: 36vw;
  max-height: 90vh;

  -webkit-backdrop-filter: blur(0.3vw);
  backdrop-filter: blur(0.3vw);
  border: 0.01vw solid var(--color-darkGray);
  background: rgba(34, 34, 34, 0.75);
  border-radius: 1vw;

  overflow-y: auto;

  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);

  animation: modalIn 0.25s ease;
}

@media (max-width: 1024px) {
  .modal {
    width: 80vw;
    max-height: 90vh;
    border-radius: 1.5vw;
  }
}

@media (max-width: 576px) {
  .modal {
    width: 90vw;
    max-height: 90vh;
    border-radius: 2vw;
  }
}

.headerAndNameCar {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  padding-bottom: 0;

  & .header {
    display: flex;
    justify-content: space-between;

    h2 {
      color: var(--color-white);
      font-size: 1.4vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
    }

    .closeButton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: 0;
      background: transparent;

      cursor: pointer;

      & .closeIcon {
        width: 1.5vw;
        height: 1.5vw;
        color: #999;
        transition: 0.2s ease-in-out;

        &:hover {
          color: var(--color-red-main);
        }
      }
    }
  }

  & .carName {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    text-transform: capitalize;
    margin-top: 0vw;
  }
}

@media (max-width: 1024px) {
  .headerAndNameCar {
    padding: 2vw;

    & .header {
      h2 {
        font-size: 3vw;
      }

      .closeButton {
        & .closeIcon {
          width: 3vw;
          height: 3vw;
        }
      }
    }

    & .carName {
      margin-top: 0.25vw;
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .headerAndNameCar {
    padding: 3vw;

    & .header {
      h2 {
        font-size: 5vw;
      }

      .closeButton {
        & .closeIcon {
          width: 6vw;
          height: 6vw;
        }
      }
    }

    & .carName {
      margin-top: 0.5vw;
      font-size: 3.6vw;
    }
  }
}

.imageWrapper {
  position: relative;
  padding: 0 1vw;
  width: 100%;
  height: 100%;
  margin-top: 0.25vw;

  min-height: 20vw;
  max-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.7vw;

  overflow: hidden;
}

@media (max-width: 1024px) {
  .imageWrapper {
    position: relative;
    padding: 0 2vw;
    margin-top: 0.25vw;

    min-height: 30vw;
    max-height: 52vw;
    border-radius: 1vw;
  }
}

@media (max-width: 576px) {
  .imageWrapper {
    position: relative;
    padding: 0 3vw;
    margin-top: 0.25vw;

    min-height: 50vw;
    max-height: 60vw;
    border-radius: 1.5vw;
  }
}

.carImage {
  width: 100%;
  height: 100%;
  // object-fit: contain;
  object-fit: cover;
  aspect-ratio: 5.5 / 3;
  border-radius: 0.5vw;
}

@media (max-width: 1024px) {
  .carImage {
    border-radius: 1vw;
  }
}

@media (max-width: 576px) {
  .carImage {
    border-radius: 1.5vw;
  }
}

.noImage {
  font-size: 0.8vw;
  color: #999;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
}

@media (max-width: 1024px) {
  .noImage {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .noImage {
    font-size: 3.6vw;
  }
}

.sliderButton {
  position: absolute;
  top: 50%;

  width: 2.3vw;
  height: 2.3vw;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-50%);

  background: rgba(9, 9, 9, 0.9);
  border: 0.01vw solid var(--color-red);
  border-radius: 50%;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  & .sliderButtonIcon {
    width: 1vw;
    height: 1vw;
    color: var(--color-white);
  }

  &:hover {
    border: 0.01vw solid var(--color-red-main);
    background: var(--color-red-main);
  }
}

.previous {
  left: 0.2vw;
}

.next {
  right: 0.2vw;
}

@media (max-width: 1024px) {
  .sliderButton {
    width: 6vw;
    height: 6vw;

    & .sliderButtonIcon {
      width: 2.4vw;
      height: 2.4vw;
    }

    &:hover {
      background: rgba(9, 9, 9, 0.9);
      border: 0.01vw solid var(--color-red);
    }
  }
}

@media (max-width: 576px) {
  .sliderButton {
    width: 9vw;
    height: 9vw;

    & .sliderButtonIcon {
      width: 4vw;
      height: 4vw;
    }
  }
}

.table {
  width: 100%;
  border-top: 0.01vw solid var(--color-red-main);
  overflow: hidden;

  margin-top: 0.5vw;
}

@media (max-width: 1024px) {
  .table {
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .table {
    margin-top: 3vw;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  min-height: 2vw;
  background: rgb(9, 9, 9);
  border: 0.01vw solid var(--color-darkGray);
  border-right: 0;
  border-left: 0;

  &:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .row {
    grid-template-columns: 1.1fr 1.25fr;
    min-height: 6vw;
  }
}

@media (max-width: 576px) {
  .row {
    grid-template-columns: 1.15fr 1.25fr;
    min-height: 10vw;
  }
}

.label {
  display: flex;
  align-items: center;
  padding: 0vw 0.75vw;
  font-size: 0.65vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  border-right: 0.01vw solid var(--color-darkGray);
}

@media (max-width: 1024px) {
  .label {
    padding: 0vw 1.5vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .label {
    padding: 0vw 2vw;
    font-size: 3.6vw;
  }
}

.value {
  display: flex;
  align-items: center;

  padding: 0.2vw 1vw;
  font-size: 0.7vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .value {
    padding: 0vw 1.5vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .value {
    padding: 2vw 2vw;
    font-size: 3.4vw;
  }
}

@keyframes overlayIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(1vw) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.bookColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;

  & .buttonBook {
    background: var(--color-red-main);
    color: var(--color-white);
    font-size: 0.75vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
    cursor: pointer;
    border: 0;
    border: 0.01vw solid var(--color-red-main);
    border-radius: 0.5vw;
    align-items: center;
    gap: 0.35vw;
    padding: 0.65vw 3vw;
    transition: all 0.2s ease-in-out;
    display: flex;

    &:hover {
      background: none;
    }
  }

  & .selectDatesWarning {
    color: #ff6b6b;
    font-size: 0.75vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
  }
}

@media (max-width: 1024px) {
  .bookColumn {
    gap: 0.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;

    & .buttonBook {
      font-size: 1.8vw;
      border-radius: 0.75vw;
      gap: 0.35vw;
      padding: 1.3vw 5vw;
    }

    & .selectDatesWarning {
      font-size: 1.6vw;
    }
  }
}

@media (max-width: 576px) {
  .bookColumn {
    gap: 0.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;

    & .buttonBook {
      border-radius: 1.5vw;
      gap: 1.5vw;
      padding: 2.8vw 12vw;
      font-size: 3.6vw;
    }

    & .selectDatesWarning {
      font-size: 3.6vw;
    }
  }
}
