.form {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  background: var(--color-background-black);
  border: 0.01vw solid var(--color-red);
  border-radius: 0.5vw;
  padding: 1.5vw 1.5vw;
  backdrop-filter: blur(0.3vw);
  width: 100%;
}

@media (max-width: 1024px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    border: 0.01vw solid var(--color-red);
    border-radius: 1vw;
    padding: 2vw 2vw;
    width: 100%;
  }
}

.selectsBlock {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  width: 100%;
}

@media (max-width: 1024px) {
  .selectsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    width: 100%;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  flex: 1;

  label {
    color: var(--color-white);
    font-size: 0.75vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
  }
}

@media (max-width: 1024px) {
  .field {
    gap: 0.75vw;

    label {
      font-size: 1.8vw;
    }
  }
}

.dateTime {
  display: flex;
  gap: 0.4vw;

  input {
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .dateTime {
    display: flex;
    gap: 1.5vw;

    input {
      flex: 1;
    }
  }
}

.buttonBlock {
  display: flex;
  width: 10.7vw;
}

@media (max-width: 1024px) {
  .buttonBlock {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.submit {
  display: flex;
  align-items: center;
  background: var(--color-red-main);
  border: 0;
  gap: 0.35vw;
  padding: 0.78vw 1.5vw;
  border-radius: 0.5vw;
  color: var(--color-white);
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  border: 0.01vw solid var(--color-red-main);
  transition: 0.2s ease-in-out;

  & .submitIcon {
    width: 1vw;
    height: 1vw;
  }

  &:hover {
    background: transparent;
  }
}

@media (max-width: 1024px) {
  .submit {
    border-radius: 0.75vw;
    padding: 1.2vw 4vw;
    font-size: 1.8vw;
    gap: 0.75vw;

    & .submitIcon {
      width: 3vw;
      height: 3vw;
    }
  }
}
