.card {
  background: var(--color-background-for-card-on-page-two);
  border: 0.01vw solid var(--color-darkGray);
  border-radius: 0.5vw;
  padding: 1vw;
}

@media (max-width: 1024px) {
  .card {
    border-radius: 0.75vw;
    padding: 2vw;
  }
}

@media (max-width: 576px) {
  .card {
    border-radius: 1.5vw;
    padding: 3vw;
  }
}

.header {
  display: flex;
  align-items: flex-start;

  h2 {
    font-size: 0.85vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  p {
    font-size: 0.7vw;
    color: #5e5d5d;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    margin-top: 0.2vw;
  }
}

@media (max-width: 1024px) {
  .header {
    h2 {
      font-size: 2vw;
    }

    p {
      font-size: 1.8vw;
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    h2 {
      font-size: 5vw;
    }

    p {
      font-size: 3.6vw;
      margin-top: 1vw;
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3vw 1vw;

  & .iconCarBlock {
    display: flex;

    & .iconCar {
      width: 1.1vw;
      height: 1.1vw;
      color: var(--color-red-main);
    }
  }

  & .emptyTitle {
    font-size: 0.85vw;
    color: var(--color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
    margin-top: 0.75vw;
  }

  & .emptyText {
    font-size: 0.7vw;
    color: #5e5d5d;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .empty {
    padding: 3vw 1vw;

    & .iconCarBlock {
      & .iconCar {
        width: 3vw;
      }
    }

    & .emptyTitle {
      font-size: 1.8vw;
      margin-top: 1.5vw;
    }

    & .emptyText {
      font-size: 1.8vw;
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .empty {
    padding: 4vw 1vw;

    & .iconCarBlock {
      & .iconCar {
        width: 5vw;
      }
    }

    & .emptyTitle {
      font-size: 3.6vw;
      margin-top: 3vw;
    }

    & .emptyText {
      font-size: 3.6vw;
      margin-top: 3vw;
    }
  }
}

.loading,
.error {
  color: #8a8a8a;
  font-size: 0.7vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
}

.error {
  color: #ff5c5c;
  font-size: 0.7vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
}

@media (max-width: 1024px) {
  .loading,
  .error {
    font-size: 1.8vw;
  }

  .error {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .loading,
  .error {
    font-size: 3.6vw;
  }

  .error {
    font-size: 3.6vw;
  }
}
