.field {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}

@media (max-width: 1024px) {
  .field {
    gap: 0.75vw;
  }
}

@media (max-width: 576px) {
  .field {
    gap: 1.5vw;
  }
}

.labelRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  font-size: 0.65vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
}

@media (max-width: 1024px) {
  .label {
    gap: 0.75vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .label {
    gap: 1.8vw;
    font-size: 3.6vw;
  }
}

.labelIcon {
  color: var(--color-red-main);
  width: 0.75vw;
  height: 0.75vw;
}

@media (max-width: 1024px) {
  .labelIcon {
    width: 1.6vw;
    height: 1.6vw;
  }
}

@media (max-width: 576px) {
  .labelIcon {
    width: 3.4vw;
    height: 3.4vw;
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 0.4vw;
  padding: 0.55vw 0.9vw;
  border: 0.01vw solid var(--color-darkGray);
  border-radius: 0.5vw;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
  transition: all 0.3s ease;
  cursor: pointer;
  background: var(--color-black-grey);

  &::placeholder {
    color: rgba(255, 255, 255, 0.35);
  }

  &:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 1024px) {
  .input {
    gap: 0.4vw;
    font-size: 1.8vw;
    border-radius: 0.75vw;
    padding: 1.2vw 2vw;
  }
}

@media (max-width: 576px) {
  .input {
    font-size: 3.6vw;
    border-radius: 1.5vw;
    padding: 2vw 3vw;
  }
}

.inputError {
  border-color: #ff6b6b !important;
}

.error {
  font-size: 0.65vw;
  color: #ff6b6b;
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
}

@media (max-width: 1024px) {
  .error {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .error {
    font-size: 3.6vw;
  }
}
