.page {
  background: var(--color-background-for-another-page);
  color: var(--color-white);
  min-height: 91vh;
  padding-top: 2vw;
}

@media (max-width: 1024px) {
  .page {
    min-height: 100%;
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
  margin-top: 6vw;
}

.title {
  font-size: 1.8vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  margin-top: 0.25vw;

  & .name {
    color: var(--color-red-main);
    text-transform: capitalize;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 3.6vw;
    margin-top: 0.25vw;
  }
}

.layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 1vw;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-columns: 0.35fr 1fr;
    gap: 1.5vw;
    margin-top: 3vw;
  }
}

.content {
  min-width: 0;
}
