.mainBlock {
  min-height: 100vh;
  background: url('/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  // background-size: cover;
  background-position-y: -4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .mainBlock {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

.wrapper {
  max-width: 30vw;
  min-width: 24vw;

  background: rgba(0, 0, 0, 0.65);
  border: 0.01vw solid var(--color-red);
  -webkit-backdrop-filter: blur(0.5vw);
  backdrop-filter: blur(0.5vw);
  border-radius: 1vw;
  padding: 1.5vw 1.5vw;
  margin-top: 0vw;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 50vw;
    min-width: 50vw;
    padding: 3vw 3vw;
  }
}

@media (max-width: 576px) {
  .wrapper {
    max-width: 80vw;
    min-width: 80vw;
    padding: 4vw 4vw;
    border-radius: 3vw;
  }
}

.title {
  text-align: center;
  font-size: 1.25vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-bold);
}

.subtitle {
  text-align: center;
  font-size: 0.85vw;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
  margin-top: 0.2vw;
}

.info {
  font-size: 0.85vw;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-Inter);
  line-height: var(--font-lineh-normal);
  font-weight: var(--font-weight-regular);
  margin-top: 0.5vw;
}

@media (max-width: 1024px) {
  .title {
    font-size: 3vw;
  }

  .subtitle {
    font-size: 1.8vw;
    margin-top: 0.25vw;
  }

  .info {
    font-size: 1.8vw;
    margin-top: 1vw;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 3.4vw;
    margin-top: 0.25vw;
  }

  .info {
    font-size: 3.6vw;
    margin-top: 2vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.95vw;
  margin-top: 1.25vw;
  text-align: left;
}

@media (max-width: 1024px) {
  .form {
    gap: 2vw;
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .form {
    gap: 3vw;
    margin-top: 4vw;
  }
}

.submit {
  background: var(--color-red-main);
  color: var(--color-white);
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  border: 0;
  border: 0.01vw solid var(--color-red-main);
  border-radius: 0.5vw;
  align-items: center;
  gap: 0.35vw;
  padding: 0.55vw 2.6vw;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;

  &:hover {
    background: transparent;
  }
}

@media (max-width: 1024px) {
  .submit {
    font-size: 1.8vw;
    border-radius: 0.75vw;
    padding: 1.2vw 6vw;
  }
}

@media (max-width: 576px) {
  .submit {
    font-size: 3.6vw;
    border-radius: 1vw;
    padding: 2.5vw 10vw;
    margin-top: 2vw;
  }
}

.errorMessage {
  color: #ff6b6b;
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
}

.successMessage {
  color: #4ade80;
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .errorMessage {
    font-size: 1.6vw;
  }

  .successMessage {
    font-size: 1.6vw;
  }
}

@media (max-width: 576px) {
  .errorMessage {
    font-size: 3.2vw;
  }

  .successMessage {
    font-size: 3.2vw;
  }
}

.link {
  background: var(--color-red-main);
  color: var(--color-white);
  font-size: 0.75vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  border: 0;
  border: 0.01vw solid var(--color-red-main);
  border-radius: 0.5vw;
  align-items: center;
  gap: 0.35vw;
  padding: 0.55vw 2.6vw;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  margin-top: 1vw;

  &:hover {
    background: transparent;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 1.8vw;
    border-radius: 0.75vw;
    padding: 1.2vw 6vw;
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .link {
    font-size: 3.6vw;
    border-radius: 1vw;
    padding: 2.5vw 10vw;
    margin-top: 4vw;
  }
}
