.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  & .successBlock {
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
  }
}

.title {
  font-size: 1vw;
  color: var(--color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
}

.text {
  font-size: 0.75vw;
  color: #ffffff80;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  margin-top: 0.75vw;
}

.buttonBlock {
  display: flex;
  justify-content: center;

  & .button {
    background: var(--color-red-main);
    color: var(--color-white);
    font-size: 0.75vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small);
    cursor: pointer;
    border: 0;
    border: 0.01vw solid var(--color-red-main);
    border-radius: 0.5vw;
    align-items: center;
    gap: 0.35vw;
    padding: 0.55vw 2vw;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;

    &:hover {
      background: transparent;
    }
  }
}
